@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    position: fixed;
    z-index: 10;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 41px;
    opacity: 0.9;
}

nav {
    display: flex;
    justify-content: center;
    align-items: last baseline;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 35px;
    font-size: 12px;
    font-weight: 400;
}

.nav-list li {
    cursor: pointer;
}

main .first-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:last baseline;
    background-color: black;
}

main section .text-container {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    margin-top: 91px;
    text-align: center;
}

main section h1 {
    font-size: 51px;
    font-weight: bold;
    color: #FFFFFF;
}

main section h2 {
    font-size: 24px;
    font-weight: 400;
    color: #6E6E73;
    margin: 10px 0;
}

main section a {
    text-decoration: none;
    color: #2997FF;
    font-size: 21px;
}

main .spirited-section {
    width: 100%;
    height: 100vh;
}

main .spirited-section .actors-name {
    position: relative;
    top: 15rem;
    width: 100%;
    display: flex;  
    justify-content: space-around;

}

main .spirited-section .actors-name p  {
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #DED2B9;
}

main .spirited-section img {
    width: 100%;
    height: auto;
}

main .spirited-section .text-spirited {
    position: relative;
    bottom: 13rem;
    width: 100%;
    text-align: center;
    font-weight: 400;
}

main .spirited-section .text-spirited p {
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 0.11px;
    color: #F5F5F7;
    margin-bottom: 25px;
}

main .spirited-section .text-spirited span {
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.23px;
    color: #FFFFFF;
}

main .iphone-section {
    width: 100%;
    height: 100vh;
}

main .iphone-section .text-wrapper {
    width: 20rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
    gap: 10px;
}

main .iphone-section .link-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    gap: 20px;
}

main .iphone-section h2 {
    font-size: 56px;
    font-weight: bold;
    color: #1D1D1F;
}

main .iphone-section p {
    font-size: 28px;
    font-weight: 400;
    color: #1D1D1F;
}

main .iphone-section img {
    width: 100%;
    height: auto;
}